/* Place your extensions here to make migration to a new release easier. */
.layout-main {
  padding: 0px 16px 16px 16px;
}


.environmentCard {

  text-align: center;
  margin-top: 10px;
  margin-bottom: 55px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid #e4e4e4;
  z-index: 10;
  color: #555;
  text-decoration: none;
  min-height: 233px;

  :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 15;
    background-color: #e4e4e4;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    padding: 1em;

    a {
      text-decoration: none;
      cursor: pointer;
      color: inherit;

    }

  }

  .content:hover {

    box-shadow: 0 3px 6px 0 #e4e4e4;

  }

  .cardFooter {
    justify-content: flex-start;
    background-color: #f9f9f9;
    padding: 13px;

    .details {
      width: 100%;
      font-size: 12px;
      color: #878787;
      flex: 1;

      span {
        width: 100%;
      }
    }

    .copyLink {
      cursor: pointer;
      font-size: 9px;
      align-self: flex-start;
      padding: 13px;
      color: #c1c1c1;
      display: flex;
      align-items: center;
    }
  }
}

.environmentCard.pink :before {
  background-color: #9620d8;
}

.environmentCard.pink {
  .content a span {
    color: #9620d8;
  }
}

.environmentCard.blue :before {
  background-color: #1ca0fd;


}

.environmentCard.blue {
  .content a span {
    color: #1ca0fd;
  }
}


.environmentCard.yellow :before {
  background-color: rgb(254, 211, 47);


}

.environmentCard.yellow {
  .content a span {
    color: rgb(254, 211, 47);
  }
}


.bottomMenu {

  flex-direction: column-reverse;

  ul {
    list-style: none;

    li a {
      text-decoration: none;
    }
  }

}


.billingCard {
  cursor: pointer;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.billingCard:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15)

}

.custom-tooltip {
  background: #fff;
  border: 1px solid #555;
  padding: 10px;
  font-size: 10px;

  span.item {
    display: block;
    margin-top: 3px;
  }
}


table.comparisonTable {
  width: 100%;
  border: none;
  border-collapse: collapse;

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tbody.titles {
    background-color: #f9f9f9;

    td:first-child {
      background-color: #fff;
    }
  }

  tbody.cumulative {
    background-color: #f9f9f9;

    td:first-child {
      background-color: #fff;
    }
  }

  tbody.compareSection {
    tr.score td {
      background-color: #f9f9f9;
      font-weight: 700;
    }

    td.good {
      color: #00c4a7;
    }

    td.bad {
      color: #fb3c4e;
    }

    tr > td > a {
      color: inherit;
      cursor: pointer;
    }
    tr > td > a:hover {
      border-bottom: 1px dashed #ccc;
    }
  }

  td {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: #777;

  }

  td:first-child {
    display: table-cell;
    width: 23.23176%;
    border-right: 1px solid #e4e4e4;
    text-align: left;
    padding-left: 20px;
  }

  td.colTitle {
    padding: 20px 0;
    font-weight: 700;
  }

  span.remove {
    display: block;
    font-size: 10px;
    color: #999;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: none;

    a {
      border-bottom: 1px solid #e4e4e4;
      cursor: pointer;
    }

  }
}